<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Village Problems Tracker</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <header>
    <h1>Village Problems Dashboard</h1>
  </header>

  <main class="problems-container">

    <!-- Problem Card 1 -->
     <% if (locals.problems) { %>
      <% problems.forEach(element => { %>
        <div class="problem-card">
          <img src="<%= element.ProblemImages[0] %>" alt="Water Problem">
          <div class="content">
            <h3><%= element.title %></h3>
            <p><%= element.description %></p>
            <span class="status pending"><%= element.status %></span>
          </div>
        </div>
      <% }) %>
     <% } %>
  </main>

</body>
</html>
